.mat-drawer-container {
    background-color: white;
    color: black;
}

.mat-drawer.mat-drawer-side {
    z-index: 2;
    background-color: rgb(6, 6, 77);
}

.close-button {
    margin-top: 240%;
    margin-left: 70%;
}

