
<mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <h3 class = "font-echart-t1">Educación</h3>
      <h2 class = "font-echart-t2">{{comuna}}</h2>
      <hr>
      <p class = "font-echart">ACCESO A SERVICIOS DE EDUCACIÓN <button #button1 class= "button-sidebar" (click)="showText1()">+</button></p>
      <p class = "font-echart2" #li1></p>
      <hr>
      <p class = "font-echart">CALIDAD SERVICIOS DE EDUCACIÓN <button class= "button-sidebar">+</button></p>
      <hr>
      <p class = "font-echart">INDICADORES EDUCATIVOS <button class= "button-sidebar">+</button></p>
      <hr>
      <button class = "close-button" (click)="sidenavController(sidenav)">Close</button>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <!-- <p><button mat-button (click)="sidenavController(sidenav)">sidenav.toggle()</button></p> -->
      <div style="height:700px;" echarts [options] = "_chartOption" (chartClick)="onChartClick($event, sidenav)"></div>
      <div>
        <button (click)="increaseZoom()">+</button>
        <button (click)="decreaseZoom()">-</button>
    </div>

    </mat-sidenav-content>
  </mat-sidenav-container>