.mat-drawer-container {
    background-color: white;
    color: black;
}

.mat-drawer.mat-drawer-side {
    z-index: 2;
    background-color: #1B1464;
    font-family: 'Karla', sans-serif;
}

.close-button {
    margin-top: 240%;
    margin-left: 70%;
}

.font-echart {
    font-family: 'Karla', sans-serif;
    font-size: 11.5px;
    font-weight: 550;
    margin-top: 10%;
    margin-bottom: 10%;
}

.font-echart2 {
    font-family: 'Karla', sans-serif;
    font-size: 11.5px;
    font-weight: 500;
    margin-top: 10%;
    margin-bottom: 10%;
}
